/* md用的样式 */

.btn {
    background-color: #225ece;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    margin: 0 0 1em 0;
    padding: 0.5em 0.7em 0.6em 0.7em;
}

.btn:active {
    background-color: #225ece;
}

.btn:hover {
    background-color: #4372ca;
}

.btn[disabled] {
    color: #ccc;
}

.btn[disabled]:hover {
    background-color: #d84a38;
}

video {
    background: #222;
    margin: 0 0 20px 0;
    --width: 100%;
    width: var(--width);
    height: calc(var(--width) * 0.75);
}

div#errorMsg p {
    color: #F00;
    font-size: small;
}

div#tipMsg p {
    color: rgb(54, 54, 54);
    font-size: small;
}

.user {
    color: #4372ca;
    border: 1px solid #4f87f0;
}