*{
	padding: 0;
	margin: 0;
}

.rotateField{
	position: absolute;
	bottom: 40px;
	right: 40px;
}
.parentMain{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

