.col-recent {
    display: flex;
    flex-direction: column;
}

.item-link {
    text-decoration: none;
}

.item-row {
    width: 100%;
    min-height: 160px;
    display: flex;
}

.item-row .content {
    width: 75%;
}

.item-row .content .title {
    font-size: .87rem;
    color: black;
    font-weight: bold;
}

.item-row .content .subtitle {
    font-size: .8rem;
    color: rgb(66, 66, 66);
}

.item-row .content .note {
    font-size: small;
    color: rgb(66, 66, 66);
}

.item-row .img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    text-align: right;
    width: 120px;
    height: 100%;
    min-height: 160px;
    padding: 10px 10px;
}

.item-img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    border-radius: 4px;
}

.line_01 {
    margin: 0 0;
    width: 100%;
    line-height: 1px;
    border-top: solid #ddd 1px;
}